<h1>Roomba Controller</h1>

<%= button_to "Rotate Left", api_roomba_actions_path, remote: true, params: { roomba_action_type: "left" } %>
<%= button_to "Rotate Right", api_roomba_actions_path, remote: true, params: { roomba_action_type: "right" } %>
<%= button_to "Move Forward", api_roomba_actions_path, remote: true, params: { roomba_action_type: "forward" } %>
<%= button_to "Move Backward", api_roomba_actions_path, remote: true, params: { roomba_action_type: "backward" } %>

<img src=http://raspberrypi.local:8081/ border=0 width=25%>

<pre><%= JSON.pretty_generate RoombaContainer[:interface].sensors %></pre>
